<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseClassName</key>
	<string>FintekDevice</string>
	<key>CompatibleDevices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71858</string>
			<key>DeviceID</key>
			<integer>0x0507</integer>
			<key>LDN</key>
			<integer>0x02</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71882</string>
			<key>DeviceID</key>
			<integer>0x0541</integer>
		</dict>
	</array>
	<key>Sensors</key>
	<dict>
		<key>Tachometer</key>
		<array>
			<dict>
				<key>Name</key>
				<string>FAN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>FAN2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>FAN3</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>FAN4</string>
			</dict>
		</array>
		<key>Voltage</key>
		<array/>
	</dict>
</dict>
</plist>
