<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseClassName</key>
	<string>FintekDevice</string>
	<key>CompatibleDevices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71862</string>
			<key>DeviceID</key>
			<integer>0x0601</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71868A</string>
			<key>DeviceID</key>
			<integer>0x1106</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71869</string>
			<key>DeviceID</key>
			<integer>0x0814</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71869A</string>
			<key>DeviceID</key>
			<integer>0x1007</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71889AD</string>
			<key>DeviceID</key>
			<integer>0x1005</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71889ED</string>
			<key>DeviceID</key>
			<integer>0x0909</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71889F</string>
			<key>DeviceID</key>
			<integer>0x0723</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Fintek F71808E</string>
			<key>DeviceID</key>
			<integer>0x0901</integer>
		</dict>
	</array>
	<key>Sensors</key>
	<dict>
		<key>Tachometer</key>
		<array>
			<dict>
				<key>Name</key>
				<string>FAN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>FAN2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>FAN3</string>
			</dict>
		</array>
		<key>Voltage</key>
		<array/>
	</dict>
</dict>
</plist>
