<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseClassName</key>
	<string>ITEDevice</string>
	<key>CompatibleDevices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>ITE IT8987</string>
			<key>DeviceID</key>
			<integer>35207</integer>
		</dict>
	</array>
	<key>Sensors</key>
	<dict>
		<key>Tachometer</key>
		<array>
			<dict>
				<key>Name</key>
				<string>FAN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>FAN2</string>
			</dict>
		</array>
		<key>TachometerReading</key>
		<string>tachometerReadEC</string>
		<key>Voltage</key>
		<array/>
	</dict>
	<key>UsesEC</key>
	<true/>
</dict>
</plist>
