<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseClassName</key>
	<string>NuvotonDevice</string>
	<key>onPowerOn</key>
	<string>onPowerOn679xx</string>
	<key>CompatibleDevices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6796D</string>
			<key>DeviceID</key>
			<integer>54307</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6797D</string>
			<key>DeviceID</key>
			<integer>54353</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6798D</string>
			<key>DeviceID</key>
			<integer>54312</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6799D</string>
			<key>DeviceID</key>
			<integer>55298</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6796D-E</string>
			<key>DeviceID</key>
			<integer>54314</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT679BD</string>
			<key>DeviceID</key>
			<integer>54315</integer>
		</dict>
	</array>
	<key>Sensors</key>
	<dict>
		<key>Tachometer</key>
		<array>
			<dict>
				<key>Name</key>
				<string>SYSFAN</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>CPUFAN</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN3</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN4</string>
			</dict>
		</array>
		<key>Voltage</key>
		<array>
			<dict>
				<key>Name</key>
				<string>CPUVCORE</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AVSB</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>3VCC</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN8</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN4</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>3VSB</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VBAT</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VTT</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN5</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN6</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN3</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN7</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN9</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
