<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseClassName</key>
	<string>NuvotonDevice</string>
	<key>onPowerOn</key>
	<string>voltageMapping6683</string>
	<key>CompatibleDevices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6683D</string>
			<key>DeviceID</key>
			<integer>50992</integer>
			<key>DeviceIDMask</key>
			<integer>65520</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6686D</string>
			<key>DeviceID</key>
			<integer>54336</integer>
			<key>DeviceIDMask</key>
			<integer>65520</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Nuvoton NCT6687D</string>
			<key>DeviceID</key>
			<integer>54672</integer>
			<key>DeviceIDMask</key>
			<integer>65520</integer>
		</dict>
	</array>
	<key>Sensors</key>
	<dict>
		<key>TachometerReading</key>
		<string>tachometerRead6683</string>
		<key>Tachometer</key>
		<array>
			<dict>
				<key>Name</key>
				<string>CPUFAN</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>SYSFAN</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN2</string>
			</dict>
		</array>
		<key>VoltageReading</key>
		<string>voltageRead6683</string>
		<key>Voltage</key>
		<array>
			<dict>
				<key>Name</key>
				<string>3VCC</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>3VSB</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AVSB</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VTT</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VBAT</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VREF</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN2</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN3</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN4</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN5</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN6</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN7</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN8</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN9</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN10</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN11</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN12</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN13</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN14</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN15</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN16</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
