<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseClassName</key>
	<string>ECDeviceNUC</string>
	<key>CompatibleDevices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Intel NUC Embedded Controller</string>
			<key>MatchName</key>
			<string>Intel_EC_V4</string>
		</dict>
	</array>
	<key>Sensors</key>
	<dict>
		<key>Tachometer</key>
		<array>
			<dict>
				<key>Name</key>
				<string>FAN</string>
				<key>ReadValue</key>
				<string>readBigWordMMIO(EC::B_NUC_EC_V4_FAN_U16)</string>
			</dict>
		</array>
		<key>Voltage</key>
		<array>
			<dict>
				<key>Name</key>
				<string>CPUVCORE</string>
				<key>ReadValue</key>
				<string>(float)readBigWordMMIO(EC::B_NUC_EC_V4_CPU_CORE_U16) / 1000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VDIMM</string>
				<key>SmcKey</key>
				<string>KeyVM0R(0)</string>
				<key>SmcKeyType</key>
				<string>SmcKeyTypeFloat</string>
				<key>ReadValue</key>
				<string>(float)readBigWordMMIO(EC::B_NUC_EC_V4_DIMM_U16) / 1000</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>VIN</string>
				<key>SmcKey</key>
				<string>KeyVD0R(0)</string>
				<key>SmcKeyType</key>
				<string>SmcKeyTypeFloat</string>
				<key>ReadValue</key>
				<string>(float)readBigWordMMIO(EC::B_NUC_EC_V4_DC_IN_U16) / 1000</string>
			</dict>
		</array>
		<key>Temperature</key>
		<array>
			<dict>
				<key>Name</key>
				<string>TCPU</string>
				<key>SmcKey</key>
				<string>KeyTC0P(0)</string>
				<key>SmcKeyType</key>
				<string>SmcKeyTypeSp78</string>
				<key>ReadValue</key>
				<string>readBigWordMMIO(EC::B_NUC_EC_V4_CPU_TEMP_U8)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>TGPU</string>
				<key>SmcKey</key>
				<string>KeyTG0P(0)</string>
				<key>SmcKeyType</key>
				<string>SmcKeyTypeSp78</string>
				<key>ReadValue</key>
				<string>readBigWordMMIO(EC::B_NUC_EC_V4_GPU_TEMP_U8)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>TPCH</string>
				<key>SmcKey</key>
				<string>KeyTP0P(0)</string>
				<key>SmcKeyType</key>
				<string>SmcKeyTypeSp78</string>
				<key>ReadValue</key>
				<string>readBigWordMMIO(EC::B_NUC_EC_V4_PCH_TEMP_U8)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>TVRMCPU</string>
				<key>ReadValue</key>
				<string>readBigWordMMIO(EC::B_NUC_EC_V4_CPU_VR_TEMP_U8)</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>TMLB</string>
				<key>ReadValue</key>
				<string>readBigWordMMIO(EC::B_NUC_EC_V4_MOTHERBOARD_TEMP_U8)</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
