<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseClassName</key>
	<string>WinbondDevice</string>
	<key>CompatibleDevices</key>
	<array>
		<dict>
			<key>DisplayName</key>
			<string>Winbond W83627DHG</string>
			<key>DeviceID</key>
			<integer>0xA020</integer>
			<key>DeviceIDMask</key>
			<integer>0xFFF0</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Winbond W83627EHF</string>
			<key>DeviceID</key>
			<integer>0x8850</integer>
			<key>DeviceIDMask</key>
			<integer>0xFFF0</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Winbond W83627EHG</string>
			<key>DeviceID</key>
			<integer>0x8860</integer>
			<key>DeviceIDMask</key>
			<integer>0xFFF0</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Winbond W83627DHGP</string>
			<key>DeviceID</key>
			<integer>0xB070</integer>
			<key>DeviceIDMask</key>
			<integer>0xFFF0</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Winbond W83667HG</string>
			<key>DeviceID</key>
			<integer>0xA510</integer>
			<key>DeviceIDMask</key>
			<integer>0xFFF0</integer>
		</dict>
		<dict>
			<key>DisplayName</key>
			<string>Winbond W83667HGB</string>
			<key>DeviceID</key>
			<integer>0xB350</integer>
			<key>DeviceIDMask</key>
			<integer>0xFFF0</integer>
		</dict>
	</array>
	<key>Sensors</key>
	<dict>
		<key>Tachometer</key>
		<array>
			<dict>
				<key>Name</key>
				<string>SYSFAN</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>CPUFAN0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN0</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>CPUFAN1</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>AUXFAN1</string>
			</dict>
		</array>
		<key>Voltage</key>
		<array/>
	</dict>
</dict>
</plist>
