<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>FauxMac</key>
		<string>No core temperature</string>
		<key>MacBook1,1</key>
		<string>No core temperature</string>
		<key>MacBook10,1</key>
		<integer>1</integer>
		<key>MacBook2,1</key>
		<string>No core temperature</string>
		<key>MacBook3,1</key>
		<string>No core temperature</string>
		<key>MacBook4,1</key>
		<string>No core temperature</string>
		<key>MacBook5,1</key>
		<string>No core temperature</string>
		<key>MacBook5,2</key>
		<string>No core temperature</string>
		<key>MacBook6,1</key>
		<string>No core temperature</string>
		<key>MacBook7,1</key>
		<string>No core temperature</string>
		<key>MacBook8,1</key>
		<integer>1</integer>
		<key>MacBook9,1</key>
		<integer>1</integer>
		<key>MacBookAir1,1</key>
		<string>No core temperature</string>
		<key>MacBookAir2,1</key>
		<string>No core temperature</string>
		<key>MacBookAir3,1</key>
		<string>No core temperature</string>
		<key>MacBookAir3,2</key>
		<string>No core temperature</string>
		<key>MacBookAir4,1</key>
		<integer>0</integer>
		<key>MacBookAir4,2</key>
		<integer>0</integer>
		<key>MacBookAir5,1</key>
		<integer>0</integer>
		<key>MacBookAir5,2</key>
		<integer>0</integer>
		<key>MacBookAir6,1</key>
		<integer>1</integer>
		<key>MacBookAir6,2</key>
		<integer>1</integer>
		<key>MacBookAir7,1</key>
		<integer>1</integer>
		<key>MacBookAir7,2</key>
		<integer>1</integer>
		<key>MacBookAir8,1</key>
		<integer>1</integer>
		<key>MacBookPro1,1</key>
		<string>No core temperature</string>
		<key>MacBookPro1,2</key>
		<string>No core temperature</string>
		<key>MacBookPro10,1</key>
		<integer>1</integer>
		<key>MacBookPro10,2</key>
		<string>No core temperature</string>
		<key>MacBookPro11,1</key>
		<integer>0</integer>
		<key>MacBookPro11,2</key>
		<integer>1</integer>
		<key>MacBookPro11,3</key>
		<integer>1</integer>
		<key>MacBookPro11,4</key>
		<integer>1</integer>
		<key>MacBookPro11,5</key>
		<integer>1</integer>
		<key>MacBookPro12,1</key>
		<integer>0</integer>
		<key>MacBookPro13,1</key>
		<integer>1</integer>
		<key>MacBookPro13,2</key>
		<integer>1</integer>
		<key>MacBookPro13,3</key>
		<integer>1</integer>
		<key>MacBookPro14,1</key>
		<integer>1</integer>
		<key>MacBookPro14,2</key>
		<integer>1</integer>
		<key>MacBookPro14,3</key>
		<integer>1</integer>
		<key>MacBookPro15,1</key>
		<integer>1</integer>
		<key>MacBookPro15,2</key>
		<integer>1</integer>
		<key>MacBookPro2,1</key>
		<string>No core temperature</string>
		<key>MacBookPro2,2</key>
		<string>No core temperature</string>
		<key>MacBookPro3,1</key>
		<string>No core temperature</string>
		<key>MacBookPro4,1</key>
		<string>No core temperature</string>
		<key>MacBookPro5,1</key>
		<string>No core temperature</string>
		<key>MacBookPro5,2</key>
		<string>No core temperature</string>
		<key>MacBookPro5,3</key>
		<string>No core temperature</string>
		<key>MacBookPro5,4</key>
		<integer>0</integer>
		<key>MacBookPro5,5</key>
		<string>No core temperature</string>
		<key>MacBookPro6,1</key>
		<string>No core temperature</string>
		<key>MacBookPro6,2</key>
		<string>No core temperature</string>
		<key>MacBookPro7,1</key>
		<string>No core temperature</string>
		<key>MacBookPro8,1</key>
		<integer>0</integer>
		<key>MacBookPro8,2</key>
		<integer>0</integer>
		<key>MacBookPro8,3</key>
		<integer>0</integer>
		<key>MacBookPro9,1</key>
		<integer>1</integer>
		<key>MacBookPro9,2</key>
		<integer>1</integer>
		<key>MacMini7,1</key>
		<integer>0</integer>
		<key>MacPro1,1</key>
		<integer>0</integer>
		<key>MacPro2,1</key>
		<integer>0</integer>
		<key>MacPro3,1</key>
		<integer>0</integer>
		<key>MacPro4,1</key>
		<string>No core temperature</string>
		<key>MacPro5,1</key>
		<integer>0</integer>
		<key>MacPro6,1</key>
		<integer>0</integer>
		<key>Macmini1,1</key>
		<string>No core temperature</string>
		<key>Macmini2,1</key>
		<string>No core temperature</string>
		<key>Macmini3,1</key>
		<string>No core temperature</string>
		<key>Macmini4,1</key>
		<string>No core temperature</string>
		<key>Macmini5,1</key>
		<string>No core temperature</string>
		<key>Macmini5,2</key>
		<string>No core temperature</string>
		<key>Macmini5,3</key>
		<string>No core temperature</string>
		<key>Macmini6,1</key>
		<integer>0</integer>
		<key>Macmini6,2</key>
		<integer>0</integer>
		<key>Macmini7,1</key>
		<integer>0</integer>
		<key>VMware8,5</key>
		<integer>0</integer>
		<key>Xserve1,1</key>
		<string>No core temperature</string>
		<key>Xserve2,1</key>
		<string>No core temperature</string>
		<key>Xserve3,1</key>
		<string>No core temperature</string>
		<key>iMac10,1</key>
		<integer>0</integer>
		<key>iMac11,1</key>
		<integer>0</integer>
		<key>iMac11,2</key>
		<integer>0</integer>
		<key>iMac11,3</key>
		<integer>0</integer>
		<key>iMac12,1</key>
		<integer>0</integer>
		<key>iMac12,2</key>
		<integer>0</integer>
		<key>iMac13,1</key>
		<integer>0</integer>
		<key>iMac13,2</key>
		<integer>0</integer>
		<key>iMac14,1</key>
		<integer>0</integer>
		<key>iMac14,2</key>
		<integer>0</integer>
		<key>iMac14,3</key>
		<integer>0</integer>
		<key>iMac14,4</key>
		<integer>0</integer>
		<key>iMac15,1</key>
		<integer>0</integer>
		<key>iMac15,2</key>
		<integer>0</integer>
		<key>iMac16,1</key>
		<integer>0</integer>
		<key>iMac16,2</key>
		<integer>0</integer>
		<key>iMac17,1</key>
		<integer>0</integer>
		<key>iMac18,1</key>
		<integer>0</integer>
		<key>iMac18,2</key>
		<integer>0</integer>
		<key>iMac18,3</key>
		<integer>0</integer>
		<key>iMac4,1</key>
		<string>No core temperature</string>
		<key>iMac5,1</key>
		<string>No core temperature</string>
		<key>iMac5,2</key>
		<string>No core temperature</string>
		<key>iMac6,1</key>
		<string>No core temperature</string>
		<key>iMac7,1</key>
		<string>No core temperature</string>
		<key>iMac8,1</key>
		<string>No core temperature</string>
		<key>iMac9,1</key>
		<string>No core temperature</string>
		<key>iMacPro1,1</key>
		<integer>0</integer>
		<key>iPhone10,4</key>
		<string>No core temperature</string>
	</dict>
</dict>
</plist>
